# ========================
# Build Output
# ========================
bin/
build/
*.exe
*.obj
*.pdb
*.ilk
*.exp

# ========================
# Visual Studio
# ========================
.vs/
*.vcxproj.user
*.suo

# ========================
# Windows OS
# ========================
Thumbs.db
Desktop.ini
/.claude
